@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Encode+Sans+Condensed:wght@200;300;400;500;600;700;800;900&family=Gloock&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:wght@300;600;800&display=swap");

/* input[type="text"], */
input[type="password"],
input[type="email"],
textarea,
input[type="tel"],
input[type="text"],
input[type="number"] {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

textarea {
  height: 140px;
}

button {
  /* @apply bg-gray-300; */
}

button.primary {
  background-color: #f5385d;
  /* @apply bg-primary p-2 w-full text-white rounded-2xl; */
}

* {
  margin: auto;
  max-width: 1200px;
  background-color: #11172b;
}
